<div class="salesAther1">
    {$_activity->goods->data['goods_name']}
</div> <!--商品名称   正常现金商品样式-->
<div class="rmbPic">
    <div class="priceCome">
        <em style="font-size: .8rem;color: #fe7902;">¥</em><em style="font-size: 1rem;color: #fe7902;">{$_activity->price()->RMB}</em>
    </div>
    <div class="priceOut">
        <if condition="intval($goods_info['market_price']) neq 0">
            <del style="color: #c4c4c4;font-size: .5rem;">原价：¥{$_activity->goods->data['market_price']|price_format}</del>
        </if>
    </div>
    <div class="sellerNum"><em>销量{$_activity->goods->data['sale_count']}笔</em></div>
</div>   <!--商品价格   正常现金商品样式-->
<ul>
    <li class="sty8 ">
        <div class="warpHv"><i class="icon03 myF icon-yes"></i><em>官方认证</em><i class="icon03 myF icon-yes"></i><em>担保交易</em><i class="icon03 myF icon-yes"></i><em>线下体验店</em></div>
    </li>
</ul>