<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广告投放</title>
    <include file="Public:head2" />
    <style>
        .wrap{

        }
        .ad{
            width:100%;
            box-sizing: border-box;
        }
        .container{
            padding:5px 10px;
        }
        .bgc1{
            background:#E0E5E7;
        }
        .b{
            font-weight: bold;
            color:#888;
        }
        img{
            border: 2px dashed #B6E4D4;
            border-radius: 6px;
            width:100%;
        }
    </style>
</head>
<body class="max640 container" style="font-size: 0.6rem;">
    <div class="wrap container">
       <div class="ad" id="ad1">
           <h3 class="container bgc1 b">广告 1：汇客惠品商城首页广告位，面向全国市场，3页轮换。150000/月</h3>
           <img src="__IMG__/ad/ad1.jpg" alt="">
       </div>
        <br>
       <div class="ad" id="ad2">
           <h3 class="container bgc1 b">广告 2：汇客惠品商城兑物页广告位，面向全国市场，3页轮换。100000/月</h3>
           <img src="__IMG__/ad/ad2.jpg" alt="">
       </div>
        <br>
        <div class="ad" id="ad3">
            <h3 class="container bgc1 b">广告 3：汇客惠品商城商家进货首页广告位，面向全国市场。80000/月</h3>
            <img src="__IMG__/ad/ad3.jpg" alt="">
            </div>
        
    </div>
</body>
</html>