<!doctype html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{$_CFG.shop_name} 平台简介</title>
    <include file="Public/head2" />
</head>
<body style="margin:0 auto;">
<style type="text/css">
    .xuanchuan{max-width: 640px;margin: 0 auto;background: #999}
    .xuanchuan img{width: 100%;display: block}
    .xuanchuan a{font-size:18px;text-align:center;background:#fff;}
    .xuanchuan div{background:#fff;text-align:center;}
</style>
<include file="Public:header1" />
<div class="xuanchuan">
  <img src="__IMG__/b1_02.jpg" />
    <img src="__IMG__/b1_03.jpg" />
    <img src="__IMG__/b1_04.jpg" />
    <img src="__IMG__/b1_05.jpg" />
    <img src="__IMG__/b1_06.jpg" />
    <img src="__IMG__/b1_07.jpg" />
    <div><a href="{:U('Assistant/start')}">如果您想快速创业？请点击这里</a></div>
    <div><a href="{:U('Assistant/join')}">如果您是特约商家？入驻商城请点击这里</a></div>

</div>
<include file="Public:footer" />
</body>
</html>