<!DOCTYPE html>
<html>
<head>
    <include file="Public:head"/>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <style type="text/css">
        .box{text-align:center;margin-top:5rem;}
        .box .title{font-size:1rem;font-weight:bold;}
        .box .content{margin-top:3rem;}
    </style>
</head>
<body>
<include file="Public:header"/>
<div class="main" style="min-height:18rem;">
    <div class="box">
        <div class="image">
            <img src="__IMG__/loading.gif" />
        </div>
        <div class="text">
            <div class="title">正在支付...</div>
            <div class="content">订单已经提交支付处理，<br/>请稍候……请在订单详细页查看订单状态！</div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<script type="text/javascript">
    <if condition="$is_weixin eq 1">
    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$jsApiParameters},
            function(res){
                var url = '';
                //Jiniu.ajax('{:U("User/record_wxpay")}',"data=" + res.err_msg,function(){},'POST','JSON');
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    url = "{$url.pay_ok}";
                } else {
                    url = "{$url.pay_no}";
                }
                location.href = url;
            }
        );
    }
    function callpay() {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
    $(function(){callpay()});
    <else/>
    location.href = "{$pay_url}";
    </if>
</script>
</body>
</html>