<volist name="right_cat_list.children_list" id="list">
    <li class="item">
        <a href="{$list.url}">
            <div class="brandinfo">
                <p class="name-ico">{$right_cat_list.cat_name}馆</p>
                <p class="price">{$list.cat_name}</p>
                <p class="pronum">商品共 {$list.goods_count} 件</p>
            </div>
            <div class="brandimg">
                <img src="__IMG__/white.png" data-original="/{$list.cat_logo}" width="324"  />
            </div>
        </a>
    </li>
</volist>