<div class="addWrap">
    <div class="swipe" id="mySwipe">
        <div class="swipe-wrap">
            <div>
                <a href="javascript:;"><img class="img-responsive" src="images/1.jpg"/></a>
            </div>
            <div>
                <a href="javascript:;"><img class="img-responsive" src="images/2.jpg"/></a>
            </div>
            <div>
                <a href="javascript:;"><img class="img-responsive" src="images/3.jpg"/></a>
            </div>
        </div>
    </div>
    <ul id="position">
        <li class="cur"></li>
        <li class=""></li>
        <li class=""></li>
    </ul>
</div>