<!DOCTYPE html>
<html>
    <head>
        <title>分类和品牌</title>
        <meta name="keywords" content="tkd.keywords" />
        <meta name="discription" content="tkd.discription" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        <meta content="no-cache" http-equiv="Pragma" />
        <meta content="no-store" http-equiv="Cache-Control" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="x-ua-compatible" content="ie=7" />
        <link rel="stylesheet" type="text/css" href="/Public/Wap/css/all.css"/>
        <script type="text/javascript" src="/Public/Wap/js/jquery.min.js"></script>
        <script type="text/javascript" src="/Public/Wap/js/swipe.js"></script>
        <script type="text/javascript" src="/Public/Wap/js/SZ-rem.js"></script>
        <script type="text/javascript" src="/Public/Wap/js/jquery.mobile-1.4.2.min.js"></script>
    </head>
    <body>
    <header>
        <div class="head-warp max640">
            <div class="head">
                <a class="Left" href="#"><i class="iconL iW3"></i></a>
                <a class="navC cur" href="#">分类</a>
                <a class="navB" href="#">品牌</a>
                <a class="right"  id="manu-cd" href="javascript:void(0)"><i class="iconR iW3"></i></a>
            </div>
            <div class="hide-nav none" id="toggle">
                <div class="menu">
                    <a href="index.html"><i class="icon-01 iW2"></i>
                        <p>首页</p>
                    </a>
                    <a href=""><i class="icon-02 iW2"></i>
                        <p>分类</p>
                    </a>
                    <a href=""><i class="icon-03 iW2"></i>
                        <p>购物车</p>
                    </a>
                    <a href="user-cet.html"><i class="icon-04 iW2"></i>
                        <p>个人中心</p>
                    </a>
                </div>
            </div>
        </div>

    </header>
    <section>
        <div class="swipeAll">
            <div class="swipeOne">
                <div class="classWarp">
                    <div class="navClass">
                        <i class="Co Co1" style="background-color: #53a7ff;"></i>
                        <em>海外购</em>
                        <a href="#">
                            <em class="goMor">查看全部</em>
                            <i class="iW1 icon-goR"></i>
                        </a>
                    </div>
                    <div class="subC_warp">
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="classWarp">
                    <div class="navClass">
                        <i class="Co Co2" style="background-color: #fd6500;"></i>
                        <em>化妆品</em>
                        <a href="#">
                            <em class="goMor">查看全部</em>
                            <i class="iW1 icon-goR"></i>
                        </a>
                    </div>
                    <div class="subC_warp">
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="classWarp">
                    <div class="navClass">
                        <i class="Co Co3" style="background-color: #3ecb00;"></i>
                        <em>香水</em>
                        <a href="#">
                            <em class="goMor" >查看全部</em>
                            <i class="iW1 icon-goR"></i>
                        </a>
                    </div>
                    <div class="subC_warp">
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass b-Right">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                        <div class="subClass">
                            <a href="calss-list.html" />
                            <div class="lt">
                                <p>进口食品</p>
                                <em class="semll">海外美食看过来</em>
                            </div>
                            <div class="rt">
                                <img src="/Public/Wap/images/brand-b3.gif" />
                            </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swipeTwo">
                <div class="addWrap">
                    <div class="swipe" id="mySwipe">
                        <div class="swipe-wrap">
                            <div>
                                <a href="javascript:;"><img class="img-responsive" src="/Public/Wap/images/3.jpg"/></a>
                            </div>
                        </div>
                    </div>
                    <ul id="position">
                        <li class=""></li>
                    </ul>
                </div>
                <div class="brandWarp">
                    <div class="brandName">
                        <p class="C_a">奢侈品牌</p>
                    </div>
                    <div class="brandImg">
                        <div class="lt">
                            <a href="brand-list.html" >
                                <img src="/Public/Wap/images/brand-a.gif" />
                            </a>
                        </div>
                        <div class="rt">
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-a1.gif" alt=""></a>
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-a2.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-a3.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-a4.gif" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="brandWarp">
                    <div class="brandName">
                        <p class="C_b">食品乐园</p>
                    </div>
                    <div class="brandImg">
                        <div class="lt">
                            <a href="brand-list.html" >
                                <img src="/Public/Wap/images/brand-b.gif" />
                            </a>
                        </div>
                        <div class="rt">
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-b1.gif" alt=""></a>
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-b2.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-b3.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-b4.gif" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="brandWarp">
                    <div class="brandName">
                        <p class="C_c">护肤品牌</p>
                    </div>
                    <div class="brandImg">
                        <div class="lt">
                            <a href="brand-list.html" >
                                <img src="/Public/Wap/images/brand-c.gif" />
                            </a>
                        </div>
                        <div class="rt">
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-c1.gif" alt=""></a>
                            <a href=""><img class="bt" src="/Public/Wap/images/brand-c2.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-c3.gif" alt=""></a>
                            <a href=""><img src="/Public/Wap/images/brand-c4.gif" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="bottom-fixd b-Top max640 ">
            <ul>
                <li>
                    <a href="# ">
                        <!--<i class="icon01-1 iW2"></i> -->   <!----首页-->
                        <i class="icon01-2 iW2"></i>    <!--当前首页选择页面-->

                        <p class="backR">{$_CFG['shop_name']}</p>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <i class="icon02-1 iW2"></i>       <!--兑物-->
                        <!--<i class="icon02-2 iW2"></i>-->    <!-- 当前兑物页面-->
                        <p>兑物</p>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <i class="icon03-1 iW2"></i>      <!--购物车-->
                        <!--	<i class="icon03-2 iW2"></i>-->      <!--购物车 有物品-->
                        <!--	<i class="icon03-3 iW2"></i>-->      <!--当前购物车-->
                        <!--	<i class="icon03-4 iW2"></i>-->      <!--当前购物车有物品-->
                        <p>购物车</p>
                    </a>
                </li>
                <li style="border-right:none; ">
                    <a href="# ">
                        <i class="icon04-1 iW2"></i>      <!--我的-->
                        <!--<i class="icon04-2 iW2"></i>-->      <!-- 当前我的页面-->
                        <p>我的</p>
                    </a>
                </li>
            </ul>
        </div>

    </footer>
    </body>
    <script>

            $(document).on("pageinit",function(){
                $('#manu-cd').on('tap', function(){
                    $('#toggle').toggle();
                });

            var bullets = document.getElementById('position').getElementsByTagName('li');
            var banner = Swipe(document.getElementById('mySwipe'), {
                auto: 2000,
                continuous: true,
                disableScroll: true,
                callback: function (pos) {
                    var i = bullets.length;
                    while (i--) {
                        bullets[i].className = ' ';
                    }
                    bullets[pos].className = 'cur';
                }
            })
            var s=$(".addWrap .swipe-wrap div").length;
            if(s==1){
                $(".addWrap .swipe-wrap div").css({'left':'0','transform':'none'});
            }else {
                return true
            }

                var wh=$(window).width()+'px';
                var whf=(0-$(window).width())+'px';
                $('.swipeTwo').css({'left':wh});
                function sleft(){
                    $('.swipeOne').css({'left':whf,'transition':'left .5s'});
                    $('.swipeTwo').css({'left':0,'transition':'left .5s'});
                    $('.head a.navC').removeClass('cur');
                    $('.head a.navB').addClass('cur');
                }
                function sright(){
                    $('.addWrap').on('swiperight',function(event){
                        event.stopPropagation();
                    });
                    $('.swipeOne').css({'left':0,'transition':'left .5s'});
                    $('.swipeTwo').css({'left':wh,'transition':'left .5s'});
                    $('.head a.navB').removeClass('cur');
                    $('.head a.navC').addClass('cur');
                }
                $('.swipeOne').on('swipeleft',sleft);
                $('.head a.navB').on('tap',sleft);
                $('.swipeTwo').on('swiperight',sright);
                $('.head a.navC').on('tap',sright);
        });
    </script>
</html>