<!DOCTYPE html>
<html>
<head>
    <title>品牌内页</title>
    <meta name="keywords" content="tkd.keywords" />
    <meta name="discription" content="tkd.discription" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta content="no-store" http-equiv="Cache-Control" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <link rel="stylesheet" type="text/css" href="/Public/Wap/css/all.css"/>
    <script type="text/javascript" src="/Public/Wap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/swipe.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/SZ-rem.js"></script>
</head>
<body>
<header>
    <div class="head-warp max640">
        <div class="head">
            <a class="Left" href="#"><i class="iconL iW3"></i></a>
            <h3>进口食品</h3>
            <a class="right"  id="manu-cd" href="javascript:void(0)"><i class="iconR iW3"></i></a>
        </div>
        <div class="hide-nav none" id="toggle">
            <div class="menu">
                <a href="index.html"><i class="icon-01 iW2"></i>
                    <p>首页</p>
                </a>
                <a href=""><i class="icon-02 iW2"></i>
                    <p>分类</p>
                </a>
                <a href=""><i class="icon-03 iW2"></i>
                    <p>购物车</p>
                </a>
                <a href="user-cet.html"><i class="icon-04 iW2"></i>
                    <p>个人中心</p>
                </a>
            </div>
        </div>
    </div>
    <div class="shopL-img">
        <img src="/Public/Wap/images/3.jpg" alt="">
        <div class="shopL-word">
            <div class="lt">
                <img src="/Public/Wap/images/shopimg.png" alt="">
                <ul>
                    <li style="font-size: .65rem;">膜法世家旗舰店</li>
                    <li class="gd"><i><em>旗舰店</em></i></li>
                    <li>评分4.9分</li>
                </ul>
            </div>
            <ul class="rt">
                <li class="gz"><i class="iW2"></i><p>关注</p></li>
                <li><em>149万</em><p>人关注</p></li>
                <li><em>149万</em><p>人在线</p></li>

            </ul>
        </div>
    </div>
    <div class="shopNav_btu">
        <ul>
            <li class="cur">
                <a href="#">
                    <i class="icon01 iW3"></i>
                    <p>店铺首页</p>
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon02"></i>
                    <p>体验</p>
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon03 iW3"></i>
                    <p>购物车</p>
                </a>
            </li>
            <li >
                <a href="# ">
                    <i class="icon04"></i>
                    <p>店铺介绍</p>
                </a>
            </li>
        </ul>
    </div>    </div>
</header>
<section>
    <div class="comBack-all">
        <div class="comBack b-Buttom">
            <div class="againstH b-Buttom">
                <h2>热门体验</h2>
            </div>
            <div class="comCp">
                <div class="comImg b-Right b-Buttom">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Buttom ">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Right b-Buttom">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Buttom ">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>

            </div>
        </div>
</section>
<footer>
    <div class="bottom-fixd b-Top max640 ">
        <ul>
            <li>
                <a href="# ">
                    <i class="icon01-1 iW2"></i>   <!----首页-->
                    <!----<i class="icon01-2 iW2"></i> -->   <!--当前首页选择页面-->

                    <p class="backR">微品</p>
                    <!--<p class="">微品</p>--> <!--当前页面红色-->
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon02-1 iW2"></i>       <!--兑物-->
                    <!--<i class="icon02-2 iW2"></i>-->    <!-- 当前兑物页面-->
                    <p>兑物</p>
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon03-1 iW2"></i>      <!--购物车-->
                    <!--	<i class="icon03-2 iW2"></i>-->      <!--购物车 有物品-->
                    <!--	<i class="icon03-3 iW2"></i>-->      <!--当前购物车-->
                    <!--	<i class="icon03-4 iW2"></i>-->      <!--当前购物车有物品-->
                    <p>购物车</p>
                </a>
            </li>
            <li style="border-right:none; ">
                <a href="# ">
                    <i class="icon04-1 iW2"></i>      <!--我的-->
                    <!--<i class="icon04-2 iW2"></i>-->      <!-- 当前我的页面-->
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>

</footer>
</body>
<script>

    $(document).on("pageinit",function(){
        $('#manu-cd').on('tap', function(){
            $('#toggle').toggle();
        });
        $("#JS__xl").on("tap",function(){
            $("#JS__xx").fadeToggle(300);
        });
        $("#JS__xx,#JS__xl").on('tap taphold scroll swipe swipeleft swiperight',function(event){
            event.stopPropagation();
        })
        $(document).on('tap taphold scroll swipe swipeleft swiperight',function(){
            $("#JS__xx").fadeOut(300);
        });
        $(".uListHead ul.subNav li").on('tap',function() {
            $(this).addClass("cur").siblings().removeClass("cur");
        })
    });

</script>

</html>