<!DOCTYPE html>
<html>
<head>
    <title>分类</title>
    <meta name="keywords" content="tkd.keywords" />
    <meta name="discription" content="tkd.discription" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta content="no-store" http-equiv="Cache-Control" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <link rel="stylesheet" type="text/css" href="/Public/Wap/css/all.css"/>
    <script type="text/javascript" src="/Public/Wap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/swipe.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/SZ-rem.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
<header>
    <div class="head-warp max640">
        <div class="head">
            <a class="Left" href="#"><i class="iconL iW3"></i></a>
            <h3>进口食品</h3>
            <a class="right"  id="manu-cd" href="javascript:void(0)"><i class="iconR iW3"></i></a>
        </div>
        <div class="hide-nav none" id="toggle">
            <div class="menu">
                <a href="index.html"><i class="icon-01 iW2"></i>
                    <p>首页</p>
                </a>
                <a href=""><i class="icon-02 iW2"></i>
                    <p>分类</p>
                </a>
                <a href=""><i class="icon-03 iW2"></i>
                    <p>购物车</p>
                </a>
                <a href="user-cet.html"><i class="icon-04 iW2"></i>
                    <p>个人中心</p>
                </a>
            </div>
        </div>
    </div>

</header>

<section>

    <div class="comBack-all">
        <div class="uListHead b-Buttom" >
            <ul class="uNav">
                <li class="lt" id="JS__xl"><em>综合排序</em><i></i></li>
                <li class="lt">销量优先<i></i></li>
                <li class="lt">信用排序<i></i></li>
                <li class="rt"><i class="iW3"></i></li>
            </ul>
            <ul class="subNav none" id="JS__xx">
                <li class="cur">综合排序</a><i></i></li>
                <li>新品排序<i></i></li>
                <li>收藏排序<i></i></li>
                <li>价格从高到低<i></i></li>
                <li>价格从低到高<i></i></li>
            </ul>
        </div>
        <div class="comBack b-Buttom">
            <div class="comCp">
                <div class="comImg b-Right b-Buttom">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Buttom ">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Right b-Buttom">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>
                <div class="comImg b-Buttom ">
                    <a href="">
                        <img src="images/01_07.jpg" />
                    </a>
                    <p class="b-Buttom">沙诗亚生物活性肽面膜</p>
                    <div class="buy b-Buttom">
                        <div class="buyRMB"><em>¥198</em><i>&nbsp;元</i></div>
                        <div class="nobuyRMB"><i><del>¥198元</del></i></div>
                    </div>
                    <a class="buy-but" href="#">点击拥有</a>
                </div>

            </div>
        </div>
</section>
<footer>
    <div class="bottom-fixd b-Top max640 ">
        <ul>
            <li>
                <a href="# ">
                    <i class="icon01-1 iW2"></i>   <!----首页-->
                    <!-- <i class=" icon01-2 iW2"></i> -->    <!--当前首页选择页面-->

                    <!-- <p class="backR">{$_CFG.shop_name}</p>-->
                    <p class="">{$_CFG.shop_name}</p>
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon02-1 iW2"></i>       <!--兑物-->
                    <!--<i class="icon02-2 iW2"></i>-->    <!-- 当前兑物页面-->
                    <p>兑物</p>
                </a>
            </li>
            <li>
                <a href="# ">
                    <i class="icon03-1 iW2"></i>      <!--购物车-->
                    <!--	<i class="icon03-2 iW2"></i>-->      <!--购物车 有物品-->
                    <!--	<i class="icon03-3 iW2"></i>-->      <!--当前购物车-->
                    <!--	<i class="icon03-4 iW2"></i>-->      <!--当前购物车有物品-->
                    <p>购物车</p>
                </a>
            </li>
            <li style="border-right:none; ">
                <a href="# ">
                    <i class="icon04-1 iW2"></i>      <!--我的-->
                    <!--<i class="icon04-2 iW2"></i>-->      <!-- 当前我的页面-->
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>

</footer>
</body>
<script>

    $(document).on("pageinit",function(){
        $('#manu-cd').on('tap', function(){
            $('#toggle').toggle();
        });
        //下来菜单导航栏选中效果  ！非下来菜单内部效果
        $(".uListHead ul.uNav li.lt").on('tap',function() {
            $(this).addClass("cur").siblings().removeClass("cur");
        })
        $("#JS__xl").on("tap",function(){
            $("#JS__xx").fadeToggle(300);
        });
        $("#JS__xx,#JS__xl").on('tap taphold scroll swipe swipeleft swiperight',function(event){
            event.stopPropagation();
        })
        $(document).on('tap taphold scroll swipe swipeleft swiperight',function(){
            $("#JS__xx").fadeOut(300);
        });
        //非下来菜单内部效果选中效果
        $(".uListHead ul.subNav li").on('tap',function() {
            $(this).addClass("cur").siblings().removeClass("cur");
        })
    });

</script>

</html>