<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-Wap-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/child.css">
</head>
<body id="second_category">
	<header id="header"></header>
        <input type="hidden" id="memberid" value="{$memberid}"/>
	<div class="content" id="content"></div>
	<div id="footer"></div>
</body>

<script type="text/html" id="category2">
	<div class="categroy-cnt">
		<ul class="categroy-seciond-list">
                       
                    <li class="category-seciond-item" stc_id="<%=stc_id%>">
                            <a href="<%=WapSiteUrl%>/Product/productlist/stc_id/<%=stc_id%>/token/<%=token%>/memberid/<%=memberid%>" class="category-item-a">
                                <div class="cs-frist-category">
					全部商品
					<span class="graydownarrow"></span>
				</div>
                            </a>
			</li>
                       
			<%for(i=0;i<class_list.length;i++){%>
			<li class="category-seciond-item" gc_id="<%=class_list[i].stc_id%>">
				<div class="cs-frist-category">
					<a href="<%=WapSiteUrl%>/Product/productlist/stc_id/<%=class_list[i].stc_id%>/token/<%=token%>/memberid/<%=memberid%>" class="category-item-a"><%=class_list[i].stc_name%></a>
					<span class="graydownarrow"></span>
				</div>
			</li>
			<%}%>
		</ul>
	</div>
</script>

<!--<script type="text/html" id="category3">
	<ul class="categroy-third-list">
			<li><a href="javascript:void(0);" class="product_list" gc_id="<%=gc_id %>">全部商品</a>
		<%for(i=0;i<class_list.length;i++){%>
			<li><a href="javascript:void(0);" class="product_list" gc_id="<%=class_list[i].gc_id%>"><%=class_list[i].gc_name%></a></li>	
		<%}%>
	</ul>
</script>-->
<script type="text/javascript" src="__JS__/zepto.min.js"></script>
<script type="text/javascript" src="__JS__/touch.js"></script>
<script type="text/javascript" src="__JS__/template.js"></script>
<script type="text/javascript" src="__JS__/config.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript" src="__JS__/tmpl/footer.js"></script>
<script type="text/javascript" src="__JS__/tmpl/common-top.js"></script>
<script type="text/javascript" src="__JS__/tmpl/categroy-second-list.js"></script>
</html>