<footer id="footer" class="maxwidth">
    <div class="footer">
        <div class="footer-top">
            <div class="footer-tleft">
                <a class="btn mr5"  href="{:U('User/index')}">个人中心</a>
            </div>
            <a href="javascript:void(0);" class="gotop" onclick="$(body).animate({scrollTop: 0}, 700);">
                <span class="gotop-icon icon-totop"></span>
                <p>回顶部</p>
            </a>
        </div>
        <div class="footer-content"><p class="copyright" style="margin:0;">版权所有 2013-2016 © 微品</p><span style="display:none;"><script src="http://s95.cnzz.com/z_stat.php?id=1257916525&web_id=1257916525" language="JavaScript"></script></span></div>
    </div>
</footer>