<div class="addWrap">
    <div class="swipe JNWidget" id="mySwipe" style="visibility:visible"  data-type="slide" data-cfg="{auto:2000,disableScroll:false,continuous:true,content:'.swipe-wrap',navCls:'.position'}">
        <div class="swipe-wrap">
            <div>
                <a href="{:U('goods/index')}?id=276&aid=E1qWpeFdMViH7aATwh4CKg=="><img class="img-responsive " src="__IMG__/hk4.jpg "/></a>
            </div>
            <div>
                <a href="{:U('goods/index')}?id=277&aid=QtlPyBm7T5sOyiN2FDXlag=="><img class="img-responsive " src="__IMG__/hk5.jpg "/></a>
            </div>
            <div>
                <a href="{:U('goods/index')}?id=292&aid=RDTT3JvVKdERENnTMgCpXA=="><img class="img-responsive " src="__IMG__/Index_index0809_banner/gift_banner3.jpg "/></a>
            </div>
            <div>
                <a href="{:U('Ad/index')}#ad2">
                    <img src="__IMG__/Index_index0809_banner/banner1.jpg" class="img-responsive " alt="">
                </a>
            </div>

        </div>
        <ul class="position" id="position">
            <li class="cur"></li>
            <li class=" "></li>
            <li class=" "></li>
            <li class=" "></li>
        </ul>
    </div>

</div>