<div class="addWrap">
    <div class="swipe JNWidget" id="mySwipe" style="visibility:visible"  data-type="slide" data-cfg="{auto:2000,disableScroll:false,continuous:true,content:'.swipe-wrap',navCls:'.position'}">
        <div class="swipe-wrap">
            <div>
                <a href="{:U('goods/index')}?id=227"><img class="img-responsive " src="__IMG__/Index_index0809_banner/banner2.jpg"/></a>
            </div>
            <div>
                <a href="{:U('goods/index')}?id=282"><img class="img-responsive " src="__IMG__/Index_index0809_banner/banner3.jpg"/></a>
            </div>
            <div>
                <a href="{:U('Ad/index')}"><img class="img-responsive " src="__IMG__/Index_index0809_banner/banner1.jpg"/></a>
            </div>
        </div>
        <ul class="position" id="position">
            <li class="cur"></li>
            <li class=" "></li>
            <li class=" "></li>
        </ul>
    </div>
</div>