<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:head2"/>
    <link rel="stylesheet" href="__CSS__/shopM.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_dfmzy7gogqilik9.css">
</head>
<body>
    <div class="btn fixd max768">
        <a class="left" href=""><i class="myF icon-left"></i></a>
        <a class="right" href=""><i class="myF icon-caidan1"></i></a>
    </div>
    <div class="hst">
      <img src="__IMG__/index06.jpg" >
    </div>
    <include file="Public:head_st1"/>
</body>
</html>
