<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:head2"/>
    <link rel="stylesheet" href="__CSS__/shopM.css">
    <script type="text/javascript" src="/Public/Wap/js/common.js"></script>
    <script type="text/javascript" src="/Public/Wap/js/web_app.js"></script>
    <style type="text/css">
        .head{position: relative;overflow: hidden;}
        .pos_a{position: absolute;}

        .back_index,.back_index_QQ,.back_index1{position: fixed;bottom:1rem;right: 1rem;z-index: 999; width: 2rem;height: 2rem;border-radius: 2rem; background: rgba(255,255,255,.5); align-items: center;-webkit-align-items: center;justify-content: center;-webkit-justify-content: center; font-size: .6rem;line-height: 1.3;}

        .product01 .nav_template01 .nav_t_list.cur{border-bottom: 2px solid #fe7902;color:#fe7902;box-sizing: border-box;}
        .product01 .nav_template01 .nav_t_list.cur em{height: 1.65rem;}
        .product02 .nav_template01 .nav_t_list.cur{border-left:2px solid #fe7902; color: #fe7902;box-sizing: border-box;background-color: #fff;}
        .product_sm .nav_template01 .nav_t_list em{height: 1.3rem;width: 3rem;text-align: center;line-height: 1.35rem;}
        .product_sm .nav_template01 .nav_t_list.cur{color: #d2994b;}
    </style>
</head>
<body>
<a href="{:get_server('PASSPORT_SERVER', '/user/index', ['store_token'=>$store_token])}" class="back_index1 flex" style="bottom: 3.5rem;">个人<br />中心</a>
<div class="back_index flex none">返回<br />首页</div>
<a class="back_index_QQ flex"  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$store_info.store_qq}&site=qq&menu=yes">&nbsp;QQ<br />咨询</a>
<div class="d_head_sm head">
    <img class="advertisement" src="__IMG__/diy_sm_01.jpg" />
    <div class="lucy-bg pos_a"></div>
    <div class="headPor pos_a flex"><img class="head_img" src="__IMG__/j4.jpg" alt="" /></div>
    <!--<div class="headPor flex"><img class="head_img" src="{:echo_img($store_info.store_label)}" alt="" /></div>-->
    <div class="shop_name pos_a">{$store_info.store_name}</div>
    <div class="sales_v pos_a flex">月销 {$store_info.store_sales} 件</div>
    <div class="grade pos_a"></div>
    <div class="shop_msg pos_a overtext">公告:{$store_info.store_descript}</div>
</div>
<div id="ul_li_wrap" class="product_sm flex">
    <ul id="nav" class="nav_template01">
        <volist name="cate_list" id="cate" key="key">
            <li class="nav_t_list flex"  onclick="tab(this,'{$cate.id}','{$key}');"><em class="overtext">{$cate.name}</em></li>
        </volist>
    </ul>
    <div id="item_list" class="w_list01" >
        <div  class="item_li"><ul class="tabPage flex"></ul> </div>
        <volist name="cate_list" id="cate" >
            <div  class="item_li"><ul class="tabPage flex"></ul> </div>
        </volist>
        <div id="diy" class="diy01">
            <a class="ad_01 flex" href="{:U('goods/index').'?id=807&aid=XA/gZC8ROYzxuZcp/6gmrQ==&store_token='.$store_token}">
                <div class="ad_sm flex"><img src="__IMG__/diy_sm_05.jpg"></div>
                <div class="diy_sm_btn01 flex">立即购买</div>
            </a>
            <div class="nav_01">
                <div class="toAll_sm" onclick="tab(this,'','0');">查看所有课程</div>
                <div class="diy_sm_act flex">
                    <a class="img_wrap flex" href="{:U('goods/index').'?id=809&aid=dItzWQ~GP3Fh~EPajy9s0A==&store_token='.$store_token}"><img src="__IMG__/diy_sm_06.jpg"></a>
                    <a class="img_wrap flex" href="{:U('goods/index').'?id=808&aid=lJsc4QohKQk8TBdrOUit5w==&store_token='.$store_token}"><img src="__IMG__/diy_sm_07.jpg"></a>
                </div>
                <div class="img_wrap_f flex"><img src="__IMG__/diy_sm_08.jpg" ></div>
                <div class="diy_sm_btn02 flex" onclick="$('.toAll_sm').click();">查看所有课程</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var obj = $('#nav'),widths = obj.width(),rem = obj.find('li').width();
    if(widths != rem) for (var i = 0; i < obj.find('li').length; i++) obj.find('li').eq(i).css('left', i * (rem/widths*16) + 'rem');
    var index = "", p= [],maxP=[], url='',wrap = $('#item_list .item_li'),  tab = function(tab,id,cur){
        if(tab == $('#nav li.cur')[0])return false;
        index = cur;
        $(tab).addClass('cur').siblings().removeClass('cur');
        $('#item_list .item_li').eq(cur).show().siblings().hide();
        $('.back_index').removeClass('none');
        $('.back_index_QQ').addClass('none');
        url = "{:U('store/get_cate_goods')}?id={$store_info['store_id']}&cate="+ id +"&p=";
        if($(tab).hasClass('ajax')) return false;
        else {
            p[index] = 1;
            Jiniu1.loading('数据加载中...');
            Jiniu.ajax(url+'&p='+p[index], '', getList,'POST','JSON',false);
        }
        $(tab).addClass('ajax');
    }, getList = function(ex){
        if(p[index] == 1){
            Jiniu1.closeloading();
            wrap.eq(index).append('<div class="sl-loading flex"></div>');
            wrap.eq(index).find('.sl-loading').html("上拉加载");
        }else wrap.eq(index).find('.sl-loading').html("上拉加载");
        if(ex.error == 200){
            var item = ex.data.str;
            if(item == "" && p[index] == 1){
                wrap.eq(index).find('#img').remove();
                wrap.eq(index).find('.sl-loading').remove();
                wrap.eq(index).append('<div id="img"><i></i>暂时没有没有数据啦</div>');
            }else{
                for(var i =0;i<item.length;i++){
                    var str = '<li class="list"><a href="'+item[i].url+'"><div class="img_wrapper pos_a flex"><img src="'+item[i].goods_thumb+'"></div><p class="c_name pos_a">'+item[i].goods_name+'</p><del class="tag-price pos_a">'+item[i].market_price+'</del><span class="c_price pos_a">'+item[i].act_format_price+'</span><i class="sold-hot pos_a"></i><i class="count-wp pos_a"></i></a></li>';
                    wrap.eq(index).find('ul.tabPage').append(str);
                };
                p[index]++;maxP[index] = ex.data.pagecount;
                if(maxP[index] ==1)  wrap.eq(index).find('.sl-loading').html("后面没有了");  //防止第一页数据太少无法检测数据没有了
            };
        };
    };
    $(window).HscrollButtom(function(){
        if(p[index] > maxP[index]){
            wrap.eq(index).find('.sl-loading').html("后面没有了");
            return false;
        }else{
            wrap.eq(index).find('.sl-loading').html('<i></i>'+'加载中...');
            Jiniu.ajax(url+'&p='+p[index], '', getList,'POST','JSON',false);
        }
    });

    $(function(){
        $('.back_index').click(function(){
            $(this).addClass('none');
            $('.back_index_QQ').removeClass('none');
            $('.back_index1').removeClass('none');
            $('#nav li').removeClass('cur');
            $('#diy').show().siblings().hide();
        });
        $('.toAll_sm').click(function(){
            $('.back_index1').addClass('none');
        });
        $(window).resize(function(){
            var height =  $(window).height() - $('#ul_li_wrap').offset().top;
            $('#ul_li_wrap').css('min-height',height +'px');
        });
        var height =  $(window).height() - $('#ul_li_wrap').offset().top;
        $('#ul_li_wrap').css('min-height',height +'px');
        //$('.qrcode_active').bind('click', blank_return);
        //$('#nav li').eq(0).click();
    });

</script>
</html>

