<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:head2" />
    <style>
        .userCenter_head{width:100%;height:13.64rem;text-align:center; background:url("../Public/images/user-bg.png");background-size:16rem 13.64rem; }
        .userCenter_head .warpOne{width:8.5rem;height:8.5rem;overflow:hidden; margin-top:1rem; text-align: center; border:4px solid #c6e0e4;display: inline-block;border-radius: 100%;}
        .userCenter_head .warpTwo{width:6.5rem;height:6.5rem;margin-top: 1rem;overflow:hidden;text-align: center; border:2px solid #d0eaea;display: inline-block;border-radius: 100%;}
        .userCenter_head .imgUh{width:5rem;height:5rem;margin-top: .6rem;overflow:hidden;text-align:center;border-radius:4rem;border:2px solid #53c7d5; background-color:#f1f1f1;display: inline-block;}
        .userCenter_head .imgUh img{width:100%;}
        .userCenter_head .userH{color:#ff6600;letter-spacing: 3px; font-weight: 600;font-size: .7rem;margin-top: -2rem;line-height:1.5rem;height: 2rem;}
        .userCenter_head .telMsg{color: #ff9600;padding-bottom: .3rem; background:url("../Public/images/user-bg-name.png") bottom no-repeat;background-size: 16rem .2rem; }
        .userOption{width:100%;height:4.5rem;position: relative;top:-.6rem;background:url("../Public/images/user-bolang.png") bottom no-repeat;background-size: 16rem .877rem;}
        .userOption ul{width:100%;margin-top: -.5rem;}
        .userOption ul li{float:left;width:25%;padding:.8rem 0; text-align: center;}
        .userOut{width:96%;height:1.5rem;background-color:#ff6600;clear:both;margin:0 2%;border-radius:.2rem;text-align:center;line-height:1.5rem;color:white;}
    </style>
</head>
<body>
    <include file="Public:header1" />
    <div class="userCenter_head">
        <div class="warpOne">
            <div class="warpTwo">
                <div class="imgUh">
                    <img src="../Public/images/shopimg.png"/>
                </div>
            </div>
        </div>
        <div class="userH">非洲野驴</div>
        <p class="telMsg">尊敬的&nbsp;<span>屌丝</span> 您由 毛里求斯 推荐</p>
    </div>
    <div class="userOption">
        <ul>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>待发货</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>已发货</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>待评价</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>已退货</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>我的订单</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>专属名片</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>我的钱包</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>我的KP券</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>我的会员</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>今日分享</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>修改资料</p></a></li>
            <li><a href=""><i style="display:inline-block;width:1.5rem;height:1.5rem;background-color: red;"></i><p>我要入驻</p></a></li>
        </ul>
    </div>
    <div class="userOut">退出会员</div>
    <footer>
        <include file="Public:menu1" />
    </footer>
</body>
</html>
