<meta name="keywords" content="即牛,万人接龙，武汉九紫春，武汉惠客汇品，微信营销工具，推广，活动" />
<meta name="description" content="即牛,万人接龙，武汉九紫春，武汉惠客汇品，微信营销工具，推广，活动" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="__STATIC__/css/base.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_7invyb2vy9jrwwmi.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__STATIC__/js/Jiniu.min.js"></script>
<script src="{:get_server('IMG_SERVER','/Uploader/login',[C('VAR_SESSION_ID') => AesEnCrypt(session_id()),'module' => MODULE_NAME],1)}"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth > 768)  clientWidth = 768;
                    docEl.style.fontSize = clientWidth /10 + 'px';
                    document.getElementsByTagName("body")[0].style.display = 'block';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    //
</script>