<title>{$tkd.title}</title>
<meta name="keywords" content="{$tkd.keywords}" />
<meta name="discription" content="{$tkd.discription}" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link rel="stylesheet" type="text/css" href="__CSS__/all.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/iconfont.css">
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/Jiniu.min.js"></script>
<script type="text/javascript" src="__JS__/SZ-rem.js"></script>
