<div class="ji_bg footer">
    <div class="con1002">
        <div class="z code">
            <img class="er z" src="__IMG__/a_a11.jpg" />
            <p class="eg">CONTACT US</p>
            <p class="lx">联系我们</p>
            <p class="sys">扫一扫二维码有惊喜</p>
            <div class="phone y">
                <p>全国统一咨询电话</p>
                <p class="num_red">189-7123-6676</p>
            </div>
        </div>
        <div class="contact y">
            <p>2015 All rights reserved. 武汉微生活电子商务有限公司 鄂ICP备12017310号-2</p>
            <p>地址：湖北省武汉市江汉区武广写字楼1408室&nbsp;&nbsp;<span>QQ:1774249156,1182258465</span></p>
            <p>有任何购物问题请联系我们在线客服 | 电话：027-85729678，18971236676| 工作时间：周一至周日 9:00－18:00</p>
            <ul>
                <li><a href="{:U('index/index')}">首页</a></li>
                <li><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></li>
                <li><script src="http://s95.cnzz.com/z_stat.php?id=1257916525&web_id=1257916525" language="JavaScript"></script></li>
                <!--<li><a href="">即牛介绍</a></li> -->
                <!--<li><a href="">套餐资费</a></li> -->
                <!--<li><a href="">成为代理</a></li> -->
                <!--<li><a href="">商家入驻</a></li> -->
                <!--<li><a href="" target="_blank">在线咨询</a></li> -->
            </ul>
        </div>
    </div>
</div>