<div class="header">
    <div class="con1002 info">
        <span class="z">欢迎进入<a href="{:U('index/index')}">微品</a></span>
        <div class="y bot-nav">
            <a href="javascript: void(0);" id="addFavorite" target="_self">收藏微品</a>
            <span>|</span>
            <a href="{:U('index/contact')}" target="_self">联系微品</a>
            <!--<a class="gl" href="javascript: void(0);" target="_self">管理中心</a> -->
        </div>
    </div>
    <div class="logo">
        <div class="red"></div>
        <div class="con1002 postion">
            <div class="phone z">
                <p>全国统一咨询电话</p>
                <p class="num_red">189-7123-6676</p>
            </div>
            <div class="logo_tu">
                <a href="{:U('index/index')}"><img src="__IMG__/j_logo.jpg" /></a>
            </div>
        </div>
    </div>
</div>